.searchFieldContainer {
    text-align: center;
    z-index: 10;
}

.searchField {

    text-align: center;
    border-radius: 25px;
    background-color: white;
    display:inline-block;
}

.searchField input {
    border-width:0px;
    border:none;
    padding: 10px 10px;
    font-size: 18px;
    width: 180px;
    font-weight: 500;
    border-radius: 20px;
    background-color: white;
    color: black;
}

.searchField textarea:focus, input:focus{
    outline: none;
}

.searchField .searchIcon{
    color: #797272;
    vertical-align: middle;
    margin: 0px 0px 3px 20px;
    height: 3vh;
}

.searchField .arrowIcon {
    color: #797272;
    vertical-align: middle;
    margin: 0px 20px 3px 0px;
    height: 3vh;
}

.searchField button {
    outline: none;
    background-color: transparent;
    border: none;
}

.searchField button:hover {
    cursor: pointer;
}
