div.home-header {
    background-color: #EAF5FF;
    height: 40vh;
}

h1.home-header1 {
    margin-bottom: 0px;
    padding-left: 80px;
    margin-top: 0px;
    padding-top: 100px;
    text-align: left;
    font-size: 50px;
}

h1.home-header-title {
    margin-bottom: 0px;
    padding-left: 80px;
    margin-top: 0px;
    top: 5vh;
    text-align: left;
    font-size: 30px;
    z-index: 10;
    position: absolute;
}

h1.home-header2 {
    top: 90px;
    padding-left: 80px;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    font-size: 50px;
}

.home-filter-button {
    background: #FFF3D6;
    border: 2px solid #FFB800;
    box-sizing: border-box;
    border-radius: 30px;
    display: inline;
    padding: 0px 17px 3px 17px;
    position: absolute;
    top: 38vh;
    left: 10vh;
}

.home-filter-button-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    /* identical to box height */

    display: inline;

    color: #000000;
    
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.home-filter-icon {
    vertical-align: middle;
    height: 18px !important;
    width: 18px !important;
    margin-right: 13px;
    margin-left: 2px;
    color: black;
    display: inline;
}

.home-logo-huddle-icon {
    width: 25vh;
    float: right;
    margin-right: 8vh;
    margin-top: 8vh;
}

.home-header-category-button {
    font-size: 2vh;
    display: inline-flex;
    margin-right: 30px;
    font-weight: 600;
    padding-bottom: 1.2vh;
    transition: all 100ms ease-out 50ms;
}

.home-header-category-button:hover {
    color: #0066FF;
    border-bottom: 4px solid #0066FF;
    padding-bottom: 0.7vh;
}

.home-header-category-button-activated {
    font-size: 2vh;
    display: inline-flex;
    margin-right: 30px;
    font-weight: 600;
    color: #0066FF;
    border-bottom: 4px solid #0066FF;
    padding-bottom: 0.7vh;
}

.home-header-category-list {
    left: 30vh;
    top: 36.5vh;
    position: absolute;
}