div.my-profile {
  background-color: #eaf5ff;
  height: 100%;
  margin: 0;
  padding: 20px;

}

.my-profile>h1{
    text-align: center;
}
div.my-profile-my-projects-container{
  width: 100%;

  height: 50vh;
  position: relative;
}
div.profile-card{
  margin: auto;
  margin-top: 30px;
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  max-width: 1000px;
}
div.profile-card>h2{
  text-align: center;
}